<div class="login-container">
    <div class="login-card">
      <h2>Nova Senha</h2>
      <p>Digite sua nova senha de acesso.</p>
  
      <form>
        <label for="login">Nova Senha</label>
        <div class="input-group">
          <input 
            type="text" 
            name="login" 
            (keydown.enter)="onClick()"
        
            placeholder="Digite sua nova senha" 
            required 
          />
        </div>
        
        <button 
          type="button" 
          class="login-button" 
          (click)="onClick()"> 
          Acessar
        </button>
  
      </form>
    </div>
  </div>
  